body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Archivo Black', sans-serif;
}

h2 {
    color: rgb(105, 104, 104);
}

header h4 {
    color: rgb(110, 107, 107);
}

.site-footer {
    background-image: linear-gradient(#717172, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #0f0f0f, #222324, #5a5757);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
}

.row-chef {
    padding: 50px 0;
}

.navbar {
    background-color: #b808088a;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #c20c0c;
}

.img-chef {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.menu-card {
    width: 350px;
    height: 450px;
}

.cards {
    display: flex;
    gap: 10px;
    width: 200%;
    /* overflow: none; */
    overflow-x: scroll;
}

.menu-card {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
  }
  
  .menu-cards::-webkit-scrollbar {
    display: none;
  }